h1 {
  font: normal 24px/1.5 "Open Sans", sans-serif;
  color: #F44336;
}

p {
  color: #F44336;
  background: #0CEF35;
  width: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2);
  position: center;
}

body {
  background: #0CDEEF;
}

li {
  color: #0C0CEF;
  width: 49%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2);
}

.small-blue-square {
  width: 20px;
  height: 20px;
  background-color: blue;
}

.big-red-square {
  width: 300px;
  height: 300px;
  background-color: red;
}
/*# sourceMappingURL=Styles.css.map */