

$title-font: normal 24px/1.5 'Open Sans', sans-serif
$Rojo: #F44336
$box-shadow-bottom-only: 0 2px 1px 0 rgba(0, 0, 0, 0.2)
$Celeste: #0CDEEF
$Azul: #0C0CEF
$Negro: #060606
h1
  font: $title-font
  color: $Rojo



p 
  color: $Rojo
  background: #0CEF35
  width: 50%
  box-shadow: $box-shadow-bottom-only
  position: center

body
    background: $Celeste

li 
    color: $Azul 
    width: 49%
    box-shadow: $box-shadow-bottom-only 

@mixin square($size, $color) 
  width: $size
  height: $size
  background-color: $color


.small-blue-square 
  @include square(20px, rgb(0,0,255))


.big-red-square 
  @include square(300px, rgb(255,0,0))

