body,
html{
	width: 50rem;
	height: 50rem;
	background: url(logo.png) no-repeat center center fixed;
	-webkit-background-size: 50rem;
  -moz-background-size: 50rem;
  -o-background-size: 50rem;
  background-size: 50rem;
}


.text{
	margin-left: 27rem;
	text-align: center;
}
