#titulo {
    text-align: center;
    color: blue;
}

.required {
    text-align: center;
    border: blue 1px solid;
}

input {
    text-align: center;
    border: blue 1px solid;
}

form .user {
    padding: 4px 0 0px 0;
    text-align: center;
}

h1 {
    text-align: center;
}

input#ape { border: rgb(0, 255, 76) 1px solid;}

h1, p {
	color: rgb(190, 58, 58);
}

form > .button > a{
	text-decoration: none; 
    padding: 4px;
    font-weight: 100;
    font-size: 15px;
    color: #ffffff;
    background-color: #0d0d0e;
    border-radius: 4px;
    border: 2px solid #111111;  
}

form .button {
    padding: 40px 0 50px 0;
    text-align: center;
}

p::first-line {
    font-variant: inherit;
}

input::after {
    color: #3700ff;
    font-variant: inherit;
}



